extends layout

block content
    h1 #{title}
    p Welcome to #{title}
    p
        form(name="join", method="post", action="/join")
            | Join Room:
            input(type="text", name="roomId")
            input(type="submit", value="Join")

    p
        form(name="auth", method="get", action="/auth/spotify")
            | Create Room
            input(type="submit", value="Login and Create Room")
