extends layout

block content
    h1 #{title}
    p Welcome to #{title}
    form(name="join", method="post", action="/join")
        | Room:
        input(type="text", name="roomId")
        input(type="submit", value="#{join}")
