extends layout

block content
    section.section
        .content
            h1.title=title
            p.subtitle Welcome to #{title}
            hr


    .columns.is-desktop.is-vcentered
        .column.is-one-quarter.is-offset-2
            .content.has-text-centered
                h2.title.is-size-4 Create Room
                form(name="auth", method="get", action="/auth/spotify/login")
                    .field
                        input(type="submit", value="Login and Create Room").button.is-info.is-normal.is-rounded

        .column.is-one-quarter.is-offset-2
            .content.has-text-centered
                h2.title.is-size-4 Join Room
                form(name="join", method="post", action="/room/join")
                    .field
                        .control.has-icons-left
                            input(type="text" name="nickname" placeholder="Nickname").input.is-medium
                            span.icon.is-left
                                i.fas.fa-gamepad
                    .field
                        .control.has-icons-left
                            input(type="text" name="roomId" placeholder="Room Name").input.is-medium
                            span.icon.is-left
                                i.fas.fa-music
                    .field
                        button.button.is-primary.is-rounded Submit
